
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

dl,
dt,
dd,
ul,
li {
  list-style: none;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-size: 14px;
}

// a标签默认样式调整
a:focus,
a:active {
  outline: none;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(50, 50, 50, 0.3);
}
//划过的样式
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgba(50, 50, 50, 0.4);
}
// 按下鼠标的样式
::-webkit-scrollbar-thumb:active {
  background-color: rgba(50, 50, 50, 0.6);
}
